.friendsListContainer {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.friendsList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid red; */

}

.title {
  margin-bottom: 40px;
}

.friend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.friendImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
